<div class="usa-navbar">
    <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
        <nav aria-label="Side navigation">
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                    <a href="/" class="usa-current">
                        Home
                    </a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="/astro-pic" class="usa-current">
                        A.P.O.D.
                    </a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="/neo-w" class="usa-current">
                        N.E.O.
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@code {

}
