@page "/"

<div class="grid-container margin-bottom-5">
    <h1 class="font-heading-lg">Welcome to the Sky Turtle Studio's Nasa Portal</h1>
    <hr />
    <div class="grid-row margin-top-6">
        <div class="grid-container-card bg-base-lightest grid-col-6">
            <h3 class="text-base-darker font-family-heading">
                Mission Statement
            </h3>
            <p class="text-base-darker">
                Purpose of this website is to create a Portal to the API that Nasa provides.
            </p>
        </div>
        <div class="grid-container-card bg-base-lightest grid-col-6">
            <h3 class="text-base-darker font-family-heading">
                Currently Features:
            </h3>
            <ul class="usa-list usa-list--unstyled">
                <li>
                    <p class="text-base-darker">
                        Astronomy picture of the day
                    </p>
                </li>
                <li>
                    <p class="text-base-darker">
                        Near Earth Objects
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
